<a href="https://colab.research.google.com/github/arinda43325104-arch/praktikum-algoritma-pemrograman-1/blob/main/Jobsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 1 : pengenalan variabel dan tipe data

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "->", type (umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "->", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "->", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "->", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "Umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "->", type(hobi))

Umur: 20 -> <class 'int'>
Tinggi: 170.5 -> <class 'float'>
Nama: Andi -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai: [80, 85, 90] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'Umur': 20, 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'olahraga', 'membaca', 'musik'} -> <class 'set'>

Praktikum 2 : input dan output dasar

Praktikum 3 : Operator aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b 50625

Praktikum 4 : Operator relasional

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

Praktikum 5 : Operator logika dengan studi kasus nyata

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian:"))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian:80
Masukkan jumlah kehadiran: 13
Status: LULUS

Praktikum 6 : Program kasir sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang  : {barang}")
print(f"Jumlah  : {jumlah}")
print(f"Total   : Rp {total}")
print(f"Diskon  : {diskon * 100}%")
print(f"Bayar   : Rp {bayar}")

Masukkan nama barang: Make up
Masukkan harga barang: 200000
Masukkan jumlah barang: 3

===== Struk Belanja =====
Barang  : Make up
Jumlah  : 3
Total   : Rp 600000.0
Diskon  : 20.0%
Bayar   : Rp 480000.0

Penugasan 1 : Identitas mahasiswa

In [ ]:
# String
nama = "Arinda"
print("Nama:", nama, "->", type(nama))

#Integer
umur = 18
print("Umur:", umur, "->", type(umur))

# Float
tinggi = 158.5
print("Tinggi:", tinggi, "->", type(tinggi))

# Boolean
is_mahasiswa = True
print(" Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

Nama: Arinda -> <class 'str'>
Umur: 18 -> <class 'int'>
Tinggi: 158.5 -> <class 'float'>
 Status Mahasiswa: True -> <class 'bool'>

Penugasan 2 : Operasi aritmatika

In [ ]:
a = 8
b = 2

print(f"Penjumlahan       : {a + b}")
print(f"Pengurangan       : {a - b}")
print(f"Perkalian         : {a * b}")
print(f"Pembagian         : {a / b}")
print(f"Sisa Bagi         : {a % b}")
print(f"Perpangkatan      : {a ** b}")

Penjumlahan       : 10
Pengurangan       : 6
Perkalian         : 16
Pembagian         : 4.0
Sisa Bagi         : 0
Perpangkatan      : 64

Penugasan 3 : Konversi nilai

In [ ]:
angka = 275

print(f"Sebagai integer : {int(275)}")
print(f"Sebagai string  : '{str(275)}'")
print(f"Dibulatkan (2 digit): {round(275, 2)}")

Sebagai integer : 275
Sebagai string  : '275'
Dibulatkan (2 digit): 275

Penugasan 4 : Operator relasional

In [ ]:
x = 50
y = 2

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : False
x > y : True
x <= y : False
x >= y : True