<a href="https://colab.research.google.com/github/arinda43325104-arch/praktikum-algoritma-pemrograman/blob/main/Praktikum%204_Algoritma%20Pemograman_Pak%20prayit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 1 : Perulangan For dengan Range

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

Praktikum 2 : Perulangan While

In [ ]:
n = int(input("Masukkan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukkan angka: 5
5
4
3
2
1

Praktikum 3 : Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1,6):
  for j in range (i):
    print("*", end="")
  print()

*
**
***
****
*****

Praktikum 4 : Break dan Continue

In [ ]:
for i in range(1, 10):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

In [ ]:
for i in range(1, 5):
  if i % 2 == 1:
    continue
  print(i)

2
4

Praktikum 5 : For pada Dictionary

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

Praktikum 6 : For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 7 : Studi Kasus = Program Kasir Multi-Item

In [ ]:
total = 0

while True:
  barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float (input(f"Masukkan harga {barang}: "))
  jumlah = int(input(f"Masukkan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50.000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 15100.0

Penugasan 1 : Menampilkan Deret Angka

In [ ]:
for i in range(3, 31, 3):
  if i % 3 == 3:
    continue
  print(i)

3
6
9
12
15
18
21
24
27
30

Penugasan 2 : Hitung Faktorial

In [ ]:
n = int(input("Masukkan angka: "))
faktorial = 1

while n > 0:
  faktorial *= n
  n -= 1

print("faktorialnya adalah:", faktorial)

Masukkan angka: 5
faktorialnya adalah: 120

Penugasan 3 : Pola Segitiga Terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range (i):
    print("*", end="")
  print()

*****
****
***
**
*

Penugasan 4 : Cari Bilangan Prima dengan Break

In [ ]:
angka = int(input("Masukkan angka: "))

if angka > 1:
  for i in range(2, angka):
    if angka % i == 0:
      print("faktor", i, "adalah", angka, "bukan bilangan prima")
      break
  else:
    print(angka, "adalah bilangan prima")
for i in range(2, angka):
  if angka % i == 0:
    print("faktor", i, "adalah", angka // i)
    break

Masukkan angka: 5
5 adalah bilangan prima

Penugasan 5 : Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1, 20):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18

Penugasan 6 : Iterasi Dictionary Mahasiswa

In [ ]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

Penugasan 7 : Enumerate Daftar Barang

In [ ]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

Penugasan 8 : Studi Kasus - Kasir Diskon

In [ ]:
print("=== Program Kasir Diskon 10% ===")
print("Ketik 'selesai' untuk berhenti.\n")

total = 0

while True:
    nama = input("Nama barang: ")
    if nama.lower() == "selesai":
        break

    harga = int(input("Harga barang: "))
    jumlah = int(input("Jumlah barang: "))

    subtotal = harga * jumlah
    total += subtotal

# Hitung diskon
if total >= 200000:
    diskon = total * 0.1
else:
    diskon = 0

total_bayar = total - diskon

# Tampilkan hasil
print("\n=== STRUK BELANJA ===")
print("Total belanja : Rp", total)
print("Diskon 10%    : Rp", int(diskon))
print("Total bayar   : Rp", int(total_bayar))
print("=======================")
print("Terima kasih telah berbelanja!")

=== Program Kasir Diskon 10% ===
Ketik 'selesai' untuk berhenti.

Nama barang: Baju
Harga barang: 70000
Jumlah barang: 3
Nama barang: Sepatu
Harga barang: 500000
Jumlah barang: 2
Nama barang: selesai

=== STRUK BELANJA ===
Total belanja : Rp 1210000
Diskon 10%    : Rp 121000
Total bayar   : Rp 1089000
=======================
Terima kasih telah berbelanja!